@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-surface text-text;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-surface;
}

::-webkit-scrollbar-thumb {
  @apply bg-surface-lighter rounded-full;
}
